body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.well{
    border: none;
}

.blog-post {
    
}

.blog-title {
    
}

.blog-date {
    
}

.blog-markup {
    
}

.blog-footer {
    
}

.blog-comments {
    
}