body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.well{
    border: none;
}

.navbar-inverse{
    /*background-color:#222;*/
    background-color:#080808;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{
    background-color:#222;
}

.jumbotron {
    background-color: #333;
    padding-top:10px;
    padding-bottom:10px
}

.page-header, .page-header h2 {
    border: none;
    color: #f5f5f5;
}

.page-header small{
    color: #cccccc
}

.page-header-subtitle{
    color: #cccccc;
    font-family:'Consolas';
    font-size: 0.8em;
}

.navbar-brand{
    font-family:'Consolas' !important;
    color:#cc4800 !important;
}

.blog-post {
    
}

.blog-title {
    
}

.blog-title :hover {
    text-decoration: none;
    cursor: pointer;
}

.blog-date {
    
}

.blog-markup {
    
}

.blog-footer {
    
}

.blog-comments {
    
}

/*
#logoutLink:hover {
    text-decoration: none;
    cursor:pointer;
}
*/
