<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
	<http pattern="/resources/**" security="none" />
    
        <http use-expressions="true">
            <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
            <form-login login-page="/login" 
                        default-target-url="/admin" 
                        authentication-failure-url="/loginfailed" />
            <logout logout-success-url="/logout"/>
	</http>
        
        <beans:bean id='bCryptPasswordEncoder' class='org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder'/>
 
	<authentication-manager>
	  <authentication-provider>
              <password-encoder ref="bCryptPasswordEncoder"/>
                <user-service>
                    <user name="admin" password="***your hashed password here***" authorities="ROLE_ADMIN" />
                </user-service>
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>